extends layout

block content
  .todrop_header
    .todrop_header_left Lyst
    .todrop_header_right
      .todrop_login log in
      .todrop_sign_up sign up
  
  #landing_container
    .landing_header Welcome
