extends layout

block content
  .todrop_header
    .todrop_header_left
      a.home(href='/lyst') Lyst
    .todrop_header_right
      a.todrop_login(href='/login') log in
      a.todrop_sign_up(href='/signup') sign up
  
  #login_container
    .signup_header Sign Up
    input.username_signup_input(type='text' placeholder='enter username')
    input.password_signup_input(type='text' placeholder='enter password')
    input.password_signup_input(type='text' placeholder='re-enter password')
    input.submit_signup_info(type='submit' value='submit')
