body{
  background-color:#3748AC;
  margin:0;
  padding-bottom:130px;
}

.todrop_header{
  background-color:rgb(40,46,159);
  position:fixed;
  width:100%;
  padding:15px;
  color:white;
}

.todrop_header_left, .todrop_login, .todrop_sign_up{
  display:inline-block;
}

.todrop_header_left{
  font-size:20px;
  width:59%;
  padding-left:2%
}

.todrop_header_right{
  display:inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  width:30%;
  padding-right:13px;
}

.todrop_login{
  text-align:right;
}

.todrop_sign_up{
  text-align:left;
  margin-left:10px;
}

.todrop_login:hover, .todrop_sign_up:hover{
  color:#E51C59;
  cursor:pointer;
}

#todo_container{
  padding-top:100px;
  padding-left: 1%;
  padding-right: 1%;
}

#item_input {
  font-size: 25px;
}

#submit_btn, #delete_btn{
  border-radius:50%;
  height:55px;
  width:55px;
  border:none;
  color:white;
  opacity:0.9
}

#submit_btn{
  background-color:limegreen;
}

#delete_btn{
  background-color:#E51C59;
  margin-right:2%;
  text-align: center;
}

#submit_btn:hover, #delete_btn:hover{
  cursor:pointer; 
}

#submit_btn:active, #delete_btn:active{
  opacity:1;
}

#submit_btn_container{
  display:flex;
  justify-content:flex-end;
  padding:20px;
  padding: 20px 9px 20px 20px;
  background-color:white;
  border-radius: 0 0 5px 5px;
}

#task_entry_input, .task_input{
  height: 40px;
  background-color: white;
  border: none;
  box-sizing: border-box;
  padding-left: 15px;
}

.task_input{
  width: 74%;
  color:black;
}

#task_entry_input{
  text-align:center;
  border-bottom:1px solid #E6E7F3;
  width:100%
}

.task_checkbox_container{
  display:inline-block;
  width:6%;
  margin-left:10px;
}

#todo_container{
  max-width: 600px;
  margin: auto;
}

.todo_tasks_container{
  padding:2px;
  background-color:white;
}

.todo_header{
  padding: 3%;
  background-color: #E6E7F3;
  border-radius: 5px 5px 0 0;
}

.todo_day{
  color:#3748AC;
  font-size:25px;
}

.todo_num_of_tasks, .todo_date_container, .todo_header_tasks_container, .todo_pending, .task_time{
  display:inline-block;
}

.todo_num_of_tasks{
  margin-right:2px;
}

.todo_date_container{
  width:65%;
}

.todo_header_tasks_container{
  width: 34%;
  margin-left: -4px;
  margin-top: 15px;
  display:inline-flex;
  flex-direction:row;
  justify-content: flex-end;
}

.task_checkbox{
  display:inline-block;
  width:20%;
  border-bottom:1px solid #E6E7F3;
}

.task_input_container{
  border-bottom: 1px solid #E6E7F3;
  width:100%;
}

input:focus {
  outline:0;
}

.task_time{
  width:10%;
  border:none;
}

.todo_bottom_container{
  background-color:orange;
}

.landing_header{
  font-size: 30px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -63px;
}

#login_container{
  padding-top: 120px;
  text-align:center;
}

.login_header, .signup_header{
  font-size:30px;
  color:white;
}

.username_login_input, .password_login_input, .username_signup_input, .password_signup_input{
  text-align: left;
  width: 36%;
  display: block;
  padding: 5px;
  margin: auto;
  margin-top: 10px;
  min-width:200px;
  max-width:500px;
}

.submit_login_info, .submit_signup_info{
  background-color:#E6E7F3;
  border:none;
  border-radius:3px;
  margin-top:10px;
  width:30%;
  padding:5px;
}

.submit_login_info:hover, .submit_signup_info:hover{
  cursor:pointer;
  color:#E51C59;
}
